{
  "presets": ["react"],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    [
      "transform-es2015-modules-commonjs",
      {
        "allowTopLevelThis": true
      }
    ],
    "transform-function-bind",
    "syntax-async-functions",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "external-helpers"
  ]
}
