{
  "presets": [
    "react",
    [
      "latest",
      {
        "es2017": false
      }
    ]
  ],
  "plugins": [
    "transform-function-bind",
    "syntax-async-functions",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}